@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.box {
    background-color: honeydew;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
}
.is-active {
    border: 2px solid hotpink;
}
.not-present {
    background-color: dimgray;
}
.present-no-position {
    background-color: gold;
}
.correct-position {
    background-color: limegreen;
}

@media screen and (min-width: 900px) {
    .box {
        height: 4vw;
    }
}

@keyframes flipAnimation {
    100% {transform: rotateY(360deg); }
}